<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: maincontent(~{::section})}">

<head>
    <title>Questionnaire</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
</head>

<body>
<section style="width: 60%; margin-left: 10em">

    <h3>Questionnaire</h3>

    <!-- IF questionnaire available-->
    <div th:if="${questionnaire}">
        <form th:object="${questionnaire}">
            <fieldset disabled>
                <input type="hidden" name="_method" value="PUT"/>
                <div class="form-group row">
                    <label class="col-md-2" for="title">Title:</label>
                    <div class="col-md-10">
                        <input type="text" id="title" class="form-control" th:field="*{title}"
                               th:errorclass="fieldError"
                               autofocus="true"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2" for="description">Description:</label>
                    <div class="col-md-10">
                        <input type="text" id="description" class="form-control" th:field="*{description}"
                               th:errorclass="fieldError"/>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <a class="btn btn-default" th:href="@{/questionnaires}">Close</a>
            </div>
        </form>
    </div>
    <!-- ELSE -->
    <div th:unless="${questionnaire}">
        <span>No questionnaire found</span>
    </div>
</section>
</body>
</html>